<li><%= link_to "About Us", pages_about_us_path %></li>
<li><%= link_to "FAQ", pages_faq_path %></li>
<li><%= link_to "Terms of Sevice", pages_tos_path %></li>
<li><%= link_to "Contact US", pages_contact_us_path %></li>
